{% extends 'base.html' %}

{% block title %}Edit contact{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'contacts'%}">Contacts</a></li>
  <li class="breadcrumb-item" active>Edit Contact</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'contacts'%}"  class="btn btn-outline-secondary" role="button">Cancel<a>
  </form>
{% endblock %}