{% load static %}

<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Permission</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
{% block content %}
<body>
<p>Dear Permission Manager,</p>
<p>Greetings from S4Carlisle,</p>
<p>Hope you are doing well!</p>
<p>I am {{user.first_name}}, Permission Specialist writing on behalf of my client Jones & Bartlett Learning, a textbook publishing company. I am currently working on </p>
<p>{% with element.all|first as e %}
  <b>{{e.title}}, ISBN {{e.unit.book.isbn}}</b>
  {% endwith %}</p>

<I>We would like to obtain permission to use the attached item(s) for this edition and I have also attached a copy of the permission request for you, which contains more information of our publication and the rights that we are requesting.</p>
{% spaceless %}
<ol>    
{% for ems in ems_list %}
    {% for e in element%}
        {% if ems == e.pk %}
                <li>
                    <p><b>JBL ID:</b> {{e.file_name}}<br/>
                    <b>Caption:</b> {{e.caption}}<br/>
                    <b>Description:</b> {{e.description}}<br/>
                    <b>Credit Line:</b> {{e.credit_line}}<br/>
                    {% if e.source_link != '' %}<b>Source:</b> {{e.source_link}}{% endif %}</p>
                </li>
        {% endif %}
    {% endfor %}    
{% endfor %}
</ol>
{% endspaceless %}
<p>I have attached item(s) for your reference. <b>Could you please sign and return a copy of the attached permission letter to my attention via E‐mail along with {% for e in ems_element_type%}
    {% if e == 'Photo'%}{% ifchanged e %}Hi resolution{% endifchanged %}{% endif %}
{% endfor %} image(s)?</b> You can find the requested content at the end of the permission letter. Please let know if you have any questions or concerns about the rights that we are requesting.</p>
<p>Your prompt response would be greatly appreciated!</p>
<p>Thanks in advance for your help.</p>
<p>Regards,<br/>
{{user.first_name}}.<br/>

{% load templates %} 



</body>
{% endblock %}
</html>