{% extends 'base.html' %}{% load static %}
{% load humanize %}
{% block breadcrumb %}
<li class="breadcrumb-item active">Books</li>
{% endblock %}
{% block content %}
<div class="mb-4">
    {%if group == 'admin'%}<a href="{% url 'new_book' %}" class="btn btn-primary btn-sm">NEW BOOK</a>{%endif%}
    <a href="{% url 'home_inactive' %}" class="btn btn-primary btn-sm">INACTIVE TITLES</a>
    <a href="{% url 'contacts' %}" class="btn btn-primary btn-sm">CONTACTS</a>
    <a href="{% url 'book_search' %}" class="btn btn-primary btn-sm">SEARCH</a>
    <!-- <a href="{% url 'import_book' %}" class="btn btn-primary btn-sm">IMPORT BOOK</a>
    <a href="{% url 'export_books' %}" class="btn btn-primary btn-sm">EXPORT BOOK DETAILS</a> -->
</div>


        {%if books.count == 0 %}
             <p>No books on the portal yet!</p>
        {% else %}
        <table class="table table-striped mb-4">
        <thead class="thead-inverse">
        <tr>
        <th>BOOK</th>
        <th>CHAPTERS</th>
        <th>UNITS</th>
        <!-- <th>CREATED ON</th> -->
        <th>REQUESTED</th>
        <th>GRANTED</th>
        <th>DENIED</th>
        <!-- <th>EXPORT AS</th> -->
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>
                    <a href="{% url 'book_units' book.pk %}">{{ book.title }}</a><br/>
                    <small class="text-muted d-block">{{ book.isbn }}</small>
                    <small class="text-muted d-block">{{ book.publisher.publisher_name }}</small>
                    <small class="text-muted d-block">User:{{ book.user.first_name}} {{ book.user.last_name}}</small>
                </td>
                <td class="align-middle"><a href="{% url 'book_units' book.pk %}">{{book.get_chapters_count}}</a></td>
                <td class="align-middle">{{book.get_elements_count}}</td>
                <!-- <td class="align-middle">{{book.created_at|naturalday}}</td> -->
                <td class="align-middle"><a href="{% url 'requested_list' book.pk %}">{{book.get_requested_count}}</a></td>
                <td class="align-middle"><a href="{% url 'granted_list' book.pk %}">{{book.get_granted_count}}</a></td>
                <td class="align-middle"><a href="{% url 'denied_list' book.pk %}">{{book.get_denied_count}}</a></td>
                <!-- <td class="align-middle"><a href="{% url 'export_book' book.pk %}" class="btn btn-primary btn-sm">XLSX</a></td> -->
                {%if group == 'admin'%}<td class="align-middle"><a href="{% url 'edit_book' book.pk %}" class="btn btn-secondary btn-sm" role="button">UPDATE</a></td>{%endif%}
                <td class="align-middle"><a href="{% url 'deactivate_book' book.pk %}" class="btn btn-danger btn-sm" role="button">DEACTIVATE</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% endif %}

{% include 'includes/pagination.html' %}

{% endblock %}